
$fa-font-path:        "../webfonts" !default;

@import "~bootswatch/dist/materia/variables";


$theme-colors: (
  custom: $gray-200
);

@import "bootstrap";
@import "~bootswatch/dist/materia/bootswatch";
@import "~startbootstrap-sb-admin-2/scss/sb-admin-2";
@import "~startbootstrap-sb-admin-2/scss/sb-admin-2";
@import "~startbootstrap-sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.css";
@import '~jquery-ui/themes/base/all.css';
@import 'select2/src/scss/core';


@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';

$font-stack:    Helvetica, sans-serif;
$primary-color: #0575A2;
$size:20px;

h1 {
  font: 50% $font-stack;
  color: $primary-color;
  font-size:$size;
}